= render 'shared/header'
= render 'shared/contentsOne'
= render 'shared/contentsTwo'
= render 'shared/contentsThree'
= render 'shared/contentsFour'
= render 'shared/contentsSix'
= render 'shared/footer'







