= render 'shared/header'
.editWrapper
  .editWrapper__area
    .editWrapper__area__head
      %h1 プロフィール画像の編集
    .editWrapper__area__middle
      = form_for(current_user) do |f|
        %table{ :border=>1 }
          %tr
            %th
              プロフィール画像
            %td

              - if current_user.persisted? && current_user.image?
                = image_tag current_user.image.url, height: '200px', width: '200px', id: 'img_prev'
                = f.file_field :image, class:"editWrapper-img", id: 'post_img'


              - else
                = image_tag 0.jpg, height: '200px', width: '200px', id: 'img_prev'
                = f.hidden_field :image_cache
        %p
          = f.submit value: "更新する", class: "editWrapper-btn"
= render 'shared/footer'

