= render 'shared/header'
.editWrapper
  .editWrapper__area
    .editWrapper__area__head
      %h1 プロフィール画像の編集
    .editWrapper__area__middle
      %form
        = form_with model: @user do |f|
          %table{ :border=>1 }
            %tr
              %th
                プロフィール画像
              %td
                
                - if @user.image.present?
                  = image_tag @user.image.url, height: '200px', width: '200px', class: 'avatar_present_img'
                  %label
                    画像を削除
                    = f.check_box :remove_image
                - else
                  = image_tag 0.jpg, height: '200px', width: '200px', class: 'avatar_present_img'
                  = f.hidden_field :image_cache

                = f.file_field :image, class:"editWrapper-img", id: 'post_img'
          %p
            = f.submit "更新する", class: "editWrapper-btn"
= render 'shared/footer'