= render 'shared/header'
.userWrapper
  .userWrapper__contents
    .userWrapper__contents__main
      .userWrapper__contents__main__icon
        .userWrapper__contents__main__icon__image
          = image_tag current_user.image.url, height: '150px', width: '150px', class: 'user-img'
          = link_to edit_user_path(@user.id), class: "edit-img" do
            = "編集"
        .userWrapper__contents__main__icon__name
          %p
            = current_user.name
      .userWrapper__contents__main__info
        .userWrapper__contents__main__info__nav
          .userWrapper__contents__main__info__nav__name
            %h2
              =current_user.name
              さんのページ
          .userWrapper__contents__main__info__nav__activity
            %ul.menu
              %li
                完了したタスク
              %li
                未完了のタスク
              %li
                これから取り組むタスク
    .userWrapper__contents__navArea
      .userWrapper__contents__navArea__user-menu
        %ul
          %li
            %i.fas.fa-book-open
            本棚
          %li
            %i.fas.fa-user-circle
            プロフィール
          %li
            %i.fas.fa-clock
            タイムライン
      .userWrapper__contents__navArea__user-buttons
        %ul
          %li
            = link_to "#", class: "twitter-icon" do
              %i.fab.fa-twitter
              %span
                Follow Me
          %li
            = link_to "#", class: "facebook-icon" do
              %i.fab.fa-facebook
              %span
                Follow Me
  .userWrapper__posts
    .userWrapper__posts__box
      %h2.title
        = current_user.name
        さんの投稿一覧
      .userWrapper__posts__box__books
        - @posts.each do |post|
          .userWrapper__posts__box__books__list
            = link_to post_path(post.id), class: "link" do
              = image_tag post.image.url, height: '250px', width: '200px', class: 'img'