= render 'shared/header'
.userWrapper
  .userWrapper__contents
    .userWrapper__contents__main
      .userWrapper__contents__main__icon
        .userWrapper__contents__main__icon__image
          = image_tag current_user.image.url, height: '150px', width: '150px', class: 'user-img'
        .userWrapper__contents__main__icon__name
          %p
            = current_user.name
      .userWrapper__contents__main__info
        .userWrapper__contents__main__info__nav
          .userWrapper__contents__main__info__nav__name
            %h2
              =current_user.name
              さんのページ
          .userWrapper__contents__main__info__nav__activity
            %ul.menu
              %li
                完了したタスク
              %li
                未完了のタスク
              %li
                これから取り組むタスク
    .userWrapper__contents__navArea
      .userWrapper__contents__navArea__user-menu
        %ul
          %li
            %i.fas.fa-book-open
            本棚
          %li
            %i.fas.fa-user-circle
            プロフィール
          %li
            %i.fas.fa-clock
            タイムライン
      .userWrapper__contents__navArea__user-buttons
        %ul
          %li
            = link_to "#", class: "twitter-icon" do
              %i.fab.fa-twitter
              %span
                Follow Me
          %li
            = link_to "#", class: "facebook-icon" do
              %i.fab.fa-facebook
              %span
                Follow Me
  .userWrapper__posts