.postArea
  %form
    = form_with model: @post, local: true, multipart: true do |f|
      %table{:border=>1}
        %tr
          %th
            購入日
          %td
            .postArea__inputDate
              = f.date_select :purchasedate, {start_year: 2020, use_two_digit_numbers: true, date_separator: ' / '}, {class: 'time-box'}
        %tr
          %th
            期待度
          %td
            星５段階
        %tr
          %th
            なぜこの本を読もうと思ったのか
          %td
            = f.text_area :content, class: "textOne", size: "40x10", placeholder: "例："
        %tr
          %th
            この本から何を得たいのか
          %td
            = f.text_area :content, class: "textTwo", size: "40x10", placeholder: "例："
        %tr
          %th
            読んだ後どういう状況になりたいか
          %td
            = f.text_area :content, class: "textThree", size: "40x10", placeholder: "例："