= render 'shared/header'
- @posts.each do |post|
  .containerBooks
    .containerBooks__left
      .containerBooks__left__image
        = link_to post_path(post.id), class: "#" do
          = image_tag post.book_image, alt: '本の写真', height: '100%', width: '100%', class: 'book-image'
    .containerBooks__right
      .containerBooks__right__contents
        %h2.title
          = post.title
        %p.info
          Why:
          = post.why_read
        %p.review
          What:
          = post.what_info
        %p.author
          To_be:
          = post.to_be
      .containerBooks__right__picker
        .containerBooks__right__picker-image
          = image_tag post.user.image.url, alt: '顔写真', height: '100px', width: '100px', class: 'picker-image'
        .containerBooks__right__picker-profile
          %p From: JAPAN
          %p
            Name:
            = post.user.name
        - if user_signed_in? && current_user.id == post.user_id
          .containerBooks__right__picker-userMenu
            %li
              = link_to edit_post_path(post.id), class: "edit-post" do
                = "Edit"
            %li
              = link_to post_path(post.id), method: :delete, class: "delete-post" do
                = "Delete"
        - else
          .containerBooks__right__picker-newUserMenu
            = link_to "#", class: "buy-books" do
              = "Buy a book"
= paginate(@posts)
= render "shared/contentsSix"
= render "shared/footer"

