= render 'shared/header'
.newPost
  .newPost__form
    .newPost__form__search
      %input.searchBooks{ type: "search", placeholder: "Book Title", class: "search-input", id: "title"}
      %input.searchBooks{ type: "search", placeholder: "Book Author", class: "search-input", id: "author"}
      %input.sendBtn{ type: "submit", value: "検索", class: "search-btn", id: "searchBtn"}
    .newPost__form__head
      %h1.head
        新しい投稿
    .newPost__form__items
      .newPost__form__items__image#img-prev
        = image_tag 'default.png', alt: "検索書籍", height: '200px', width: '200px', class: 'img', id: "img-prev"
      .newPost__form__items__into
        .newPost__form__items__into-link
          = link_to "https://www.google.com/search?tbm=bks&q=#{@post.title}", class: "gBtn" do
            = "Googleで詳細を見る"
    = render 'form'






